<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!-- 시큐리티 내에서 제공되는 보안방식 ( 토큰 ) -->

    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <!--타이틀 값이 있으면 pageTitle 출력-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css?v={v}(v=${cssJsVersion})}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCss}" th:href="@{/css/admin/{cssFile}.css?v={v}(cssFile=${file}, v=${cssJsVersion})}">

    <!--작업 시 파일 변경시마다 갱신하면서 버전을 표시해줄 수 있게 버전 추가( style, 스크립트 ) + DB에서 관리할 수 있게 추가 설정 필요-->

    <th:block layout:fragment="addCss"></th:block>
    <script th:src="@{/js/admin/common.js?v={v}(v=${cssJsVersion})}"></script>
    <script th:each="jsFile : ${addScript}" th:href="@{/js/admin/{jsFile}.js?v={v}(jsFile=${jsFile}, v=${cssJsVersion})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>

    <body>
    <header th:replace="~{outlines/admin/header::common}"></header>
    <main>
        <aside th:replace="~{outlines/admin/side::menu}"></aside>
        <section layout:fragment="content"></section>  <!--th:fragment = content로 정의한 부분으로 대체-->
    </main>
    <footer th:replace="~{outlines/admin/footer::common}"></footer>
    <iframe name="ifrmProcess" class="dn"></iframe> <!-- 내부창 = 불필요한 링크 이동 방지 -->
    </body>
</html>